* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.animation-container {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.animated-image {
    position: absolute;
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

@keyframes moveImage1 {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(150%);
    }
}

@keyframes moveImage2 {
    0% {
        transform: translateX(150%);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.image1 {
    animation: moveImage1 5s infinite linear;
}

.image2 {
    animation: moveImage2 5s infinite linear;
}
p {
	background-color: darkblue;
	text-color: white;
}